<!DOCTYPE html>
<html lang="en">
<head>
{{>headerLinks}}
</head>
<body>
    {{>navbar}}
      <div class="container-fluid main_header">
        <div class="row">
          <div class="col-md-10  col-12 mx-auto">
              <div class="row">
                <div class="error-content col-md-10 col-12 mx-auto ">
                    <figure class="error-img mx-auto ">
                            <img src="/images/error_1.jpg" class="img-fluid" alt="404 error">
                    </figure>
              
                  </div>
                </div>
            </div>
          </div>
       </div>

    {{>footer}}
    {{>footerLinks}}
</body>
</html>